.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    margin-right: 20%;
}

.input {
    width: 100%;
    /* max-width: 550px; */
    outline: none;
    padding: 0 7rem 0 1rem;
    font-size: 15px;
    border: 1px solid #63247ae0;
    border-radius: 30px 0 0 30px;
    background-color: white;
    /*margin-left: 50%;*/
}

.button--submit {
    min-height: 49px;
    padding: .5em .8em;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #ada7ac83;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease-in-out;
}

.button--submit:hover {
    background-color: #63247ae0;
}

.input:focus,
.input:focus-visible {
    border-color: #8b11e9;
    outline: none;
}