.input-group {
    display: flex;
    align-items: center;
}

.input {
    min-height: 50px;
    max-width: 550px;
    padding: 0 7rem 0 1rem;
    font-size: 15px;
    border: 1px solid #0099e5;
    border-radius: 6px 0 0 6px;
    background-color: white;
}

.button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #0099e5;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.button--submit:hover {
    background-color: #0099e5;
}

.input:focus,
.input:focus-visible {
    border-color: #3898EC;
    outline: none;
}