.navPagination {
    list-style-type: none;
    cursor: pointer;
    background-color: hsla(0, 11%, 85%, 0.596);
    align-content: center;
    overflow: hidden;
    margin: 15% auto;
    display: flex;
    width: 190px;
    border-radius: 10px;
    border-style: solid;
    padding: 0.2rem;
    height: 40px;
}

.input-pag {
    outline: none;
    width: 40px;
    height: 30px;
    margin-left: 0.2rem;
}

.parrafo-pag {
    display: flex;
    margin: auto;
    font-size: 11px;
    font-weight: bold;
}