.paginado {
    display: block;
    padding: 0;
    margin: 0;
    font-size: medium;
    text-align: center;

}

.paginado  {
    display: inline;
    perspective: 1000px;
}

.paginado  button {
    float: left;
    padding: 8px 18px;
    background-color: #63247ae0;
    border: transparent;
    margin: 3px;
    color: white;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;

}

.paginado input{
    float: left;
    padding: 8px 18px;
    background-color: #63247ae0;
    border: transparent;
    margin: 3px;
    color: white;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.paginado p{
    float: left;
    padding: 8px 18px;
    background-color: #63247ae0;
    border: transparent;
    margin: 3px;
    color: white;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.paginado  button:hover {
    background-color: #63247a98;
    color: #121212;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(180deg);

}

.paginado  button:focus {
    background-color: #63247a98;
    color: #121212;
}