body {
    font-family: 'roboto', sans-serif;
    background: #f6f6f6;
}

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

user agent stylesheet body {
    display: block;
    margin: 8px;
}

.contenido {
    width: 100%;
}

.contenido .m3 {
    width: 100%;
}

.contenido .m3 .b5 {
    width: 1300px;
    margin: 0 auto;
    padding: 16px 0;
    height: 50px;
    text-align: left;
}

.contenido .m3 .b5 li {
    float: left;
    line-height: 18px;
    height: 18px;
    font-size: 14px;
    color: #666;
    margin: 0 5px 0 0;
}

.contenido .m3 .b5 li a {
    color: #006afd;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
}

.contenido .m3 .b5 li a:after {
    font-size: 14px;
    color: #666;
    content: '\203A';
    display: inline-block;
    margin-left: 3px;
}

.clear {
    clear: both;
}

.contenido .m3 .product-container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ddd;
    background: #fff;
}

.contenido .m3 .product-container:after,
.contenido .m3 .product-container::before {
    display: table;
    content: "";
}

.contenido .m3 .b1 {
    width: 65%;
    float: left;
    position: relative;
}

.contenido .m3 .b1 .item-gallery {
    padding: 30px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.contenido .m3 .b1 .item-tags {
    right: 4rem;
}

.item-tags {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: start;
    justify-content: flex-end;
}

.desk {
    display: block !important;
}

.contenido .m3 .b1 .item-gallery .d2 {
    float: left;
    width: 80px;
    margin: 0 67px 0 0;
}

.contenido .m3 .b1 .item-gallery .d2 .t1.activo {
    border: 1px solid #333;
}

.contenido .m3 .b1 .item-gallery .d2 .t1 {
    width: 80px;
    height: 80px;
    margin: 0 0 14px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
}

.contenido .m3 .b1 .item-gallery .d2 .t1 img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.contenido .m3 .b1 .item-gallery .d1 {
    width: 600px;
    height: 600px;
    float: left;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.contenido .m3 .b1 .item-gallery .d1 iframe {
    display: block;
    z-index: 99;
    position: absolute;
    width: 608px;
    height: 600px;
    left: 0;
    top: 0;
}

.contenido .m3 .b1 .item-gallery .d1 img:not(.item-tag-icon img) {
    max-height: 94%;
    max-width: 94%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.contenido .m3 .b1 .item-gallery .d1 img {
    max-height: 94%;
    max-width: 94%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.contenido .m3 .b1 .item-description {
    display: block;
    padding: 44px 32px;
}

.contenido .m3 .b1 .item-description h2 {
    font-size: 24px;
    color: #333;
    margin: 0 0 24px 0;
}

.contenido .m3 .b1 .item-description .text {
    font-size: 18px;
    color: #333;
    font-weight: 300;
}

.span1 {
    color: rgb(102, 102, 102);
    font-family: "RC TYPE", Roboto, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.span2 {
    font-size: 16px;
}

.span3 {
    color: rgb(102, 102, 102);
    font-family: "RC TYPE", Roboto, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.contenido .m3 .b2 {
    width: 35%;
    float: left;
    min-height: 100px;
    border-left: 1px solid #ddd;
}

.contenido .m3 .b2 .short-description {
    padding: 32px;
    display: block;
}

.contenido .m3 .b2 .item-title {
    font-size: 24px;
    line-height: 1.18;
    color: rgba(0, 0, 0, .8);
    margin: 8px 0 8px;
    font-weight: 500;
}

.contenido .m3 .b2 .price-container {
    margin: 16px 0 14px;
    width: 100%;
    line-height: 0;
    position: relative;
    font-weight: 300;
}

.contenido .m3 .b2 .price-container .old {
    display: block;
    color: #ababab;
    font-size: 16px;
    line-height: 16px;
    line-height: 1;
    text-decoration: line-through;
}

.contenido .m3 .b2 .price-container .price {
    font-size: 36px;
    color: #333;
    font-weight: 300;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 40px;
}

.contenido .m3 .b2 .price-container .discount {
    font-size: 18px;
    margin: 5px 0 0 5px;
    display: inline-block;
    color: #00a650;
    font-weight: 300;
    vertical-align: top;
    position: relative;
    padding: 5px 0;
}
.contenido .m3 .b2 .price-container .item-descuento-fp {
    font-size: 16px;
    line-height: 1.3;
}
.item-descuento-fp {
    display: block;
    font-size: 12px;
    color: #00a650;
    padding: 5px 0 0 0;
}
.contenido .m3 .b2 .price-container .item-descuento-fp .fp {
    color: #000;
}


.contenido .m3 .b2 .producto-information .tag.free {
    background: #00a650;
}
.contenido .m3 .b2 .delivery {
    display: block;
    margin: 0 0 20px 0;
}
.contenido .m3 .b2 .delivery li .icon {
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    text-align: center;
}
.Store {
    width: 100%
}
.contenido .m3 .b2 .delivery li p {
    font-size: 15px;
    color: #333;
    line-height: 1;
    font-weight: 400;
    display: block;
}
.contenido .m3 .b2 .delivery li .more {
    font-size: 14px;
    color: #3483fa;
    display: inline-block;
}
.contenido .m3 .b2 .cart {
    display: block;
    margin: 20px 0 0 0;
}
.contenido .m3 .b2 .cart .quantity {
    display: inline-block;
    position: relative;
}
.contenido .m3 .b2 .cart .quantity .content-qty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 10px;
}
.contenido .m3 .b2 .cart .quantity button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    background: none;
    font-size: 13px;
    color: #3483fa;
}
.contenido .m3 .b2 .cart .quantity input {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size: 16px;
    color: #222;
    text-align: center;
}
.contenido .m3 .b2 .cart .quantity button:last-child {
    top: 21px;
}

.contenido .m3 .b2 .cart .quantity button:last-child {
    top: 21px;
}
.contenido .m3 .b2 .cart .quantity button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    background: none;
    font-size: 13px;
    color: #3483fa;
}
.contenido .m3 .b2 .cart .available {
    display: inline-block;
    color: #acacac;
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 0 10px;
}
.banner-secundarios .m-productos .m-footer a, .contenido .m2 .b1 .product-filters .filter-price button, #contenido .m3 .b2 .cart .btn-section {
    background: var(--main-boton-fondo)!important;
    color: var(--main-boton-texto)!important;
}

.contenido .m3 .b2 .cart .btn-section {
    background: #3483fa;
    width: 100%;
    padding: 12px 20px;
    margin: 24px 0 0 0;
    font-size: 18px;
    color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.contenido .m3 .b2 .cart .btn-section:nth-child(2) {
    margin: 8px 0 0 0;
    background: #4189e626 !important;
    color: #3483fa !important;
}

.banner-secundarios .m-productos .m-footer a, #contenido .m2 .b1 .product-filters .filter-price button, #contenido .m3 .b2 .cart .btn-section {
    background: var(--main-boton-fondo)!important;
    color: var(--main-boton-texto)!important;
}
.contenido .m3 .b2 .cart .btn-section {
    background: #3483fa;
    width: 100%;
    padding: 12px 20px;
    margin: 24px 0 0 0;
    font-size: 18px;
    color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.contenido .m3 .b2 .payments {
    padding: 48px 32px;
    display: block;
    border-top: 1px solid #ddd;
}
.contenido .m3 .b2 .payments .title {
    color: #333;
    display: block;
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}
.contenido .m3 .b2 .payments .card-promotion-section {
    background-color: #00a650;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 12px 20px;
    line-height: 0;
}
.contenido .m3 .b2 .payments .card-promotion-section p {
    font-size: 16px;
    color: #fff;
    line-height: 18px;
}
p:not(.item-description.m-mobile p) {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.contenido .m3 .b2 .payments .card-promotion-section p i {
    font-size: 14px;
    float: left;
    padding: 0 16px 0 0;
    line-height: 18px;
}
.fa, .fas {
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900;
}
.fa-plus:before {
    content: "\f067";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-credit-card:before {
    content: "\f09d";
}
.contenido .m3 .b2 .payments .card-section {
    display: block;
}
contenido .m3 .b2 .payments .card-section .card-subtitle {
    font-size: 16px;
    color: #333;
    margin: 30px 0 0 0;
}
p:not(.item-description.m-mobile p) {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.contenido .m3 .b2 .payments .btn-section {
    color: #3483fa;
    z-index: 3;
    position: relative;
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
    font-size: 14px;
}
.contenido .m3 .b2 .payments .card-section .icons {
    margin: 10px 0 0;
    height: 40px;
    line-height: 40px;
}
.contenido .m3 .b2 .payments .card-section .icons img {
    vertical-align: middle;
    margin: 0 20px 0 0;
    max-width: 100px;
}
.contenido .m3 .b2 .payments .card-section .card-subtitle {
    font-size: 16px;
    color: #333;
    margin: 30px 0 0 0;
}
.contenido .m3 .b2 .payments .card-section .icons {
    margin: 10px 0 0;
    height: 40px;
    line-height: 40px;
}
.contenido .m3 .b2 .payments .card-section .icons img {
    vertical-align: middle;
    margin: 0 20px 0 0;
    max-width: 100px;
}
.contenido .m3 .b2 .payments .btn-section {
    color: #3483fa;
    z-index: 3;
    position: relative;
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
    font-size: 14px;
}
.body {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 50px;
    flex-wrap: nowrap;
}
.contenido .m3 .b2 .producto-information {
    display: block;
    margin: 0 0 18px;
}


.contenido .m3 .b2 .producto-information .tag {
    background: #3483fa;
    padding: 2px 4px;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}