/*
.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/////////////
.container-wrap {
    flex: 1;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style:none;
    background-color: rgba(215, 227, 250, 0.549);
    margin-top: 10%; 
    border-radius: 5px;  
}

.select{
    background-color: rgba(187, 191, 222, 0.684);
    font-size: 100%;
    border-radius: 5px;
    margin: 4px;
}

.select:hover {
    cursor: pointer;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}
*/


/* .not-found-message-container {
    display: grid;
    font-size: 20px;
    letter-spacing: -1px;
    color: #9e200f;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000;
    text-align: center;
    line-height: 50px;
} */

.not-found-msg {
    font-weight: bold !important;
    font-size: 20px;
    /* display: grid !important; */
    letter-spacing: -1px;
    margin-top: 10px !important;
    color: rgb(119, 114, 114);
}


/* .not-found-message {
    background-color: rgba(255, 255, 255, 0.514);
} */

.img-notFound {
    margin: 0 40px !important;
    height: 300px;
    width: 350px;
}

.home {
    position: absolute;
    width: 100%;
    background: #ebebeb;
    text-align: center;
}

.divNB {
    top: 0;
    width: 100%;
}

.divNBFun {
    top: 10px;
    width: 100%;
}

.elementNB {
    height: 43px;
    border-color: #1a3550;
    background-color: transparent;
    font-size: medium;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
}

.elementNB:hover {
    background-color: #121212;
    color: #fff;
}

.container {
    display: flex;
    -webkit-box-pack: center;
    place-content: center;
    align-content: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.cardHome {
    margin: 0 5px 0 5px;
}

.welcome {
    border-radius: 4px;
    background-color: #1a1a1a;
    border: none;
    color: #fff;
    text-align: center;
    font-size: large;
    padding: 20px;
    margin-left: 5px;
    transition: all 0.5s;
    cursor: pointer;
    left: 37%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.welcome span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.welcome span:after {
    content: '\00ab';
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.welcome:hover span {
    padding-left: 25px;
}

.welcome:hover {
    background-color: #fff;
    color: #121212;
}

.welcome:hover span:after {
    opacity: 1;
    right: 0;
}

.goUp-btn {
    padding: 5px 15px;
    color: #63247ae0;
    border: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ebebeb;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    font-weight: 500;
}

.goUp-btn:hover {
    background-color: #cecccc;
    transition: transform 0.5s ease-in-out;
}


/* .goUp-btn {
    padding: 5px 15px;
    background-color: #63247ae0;
    border: transparent;
    border-radius: 5px;
    margin: 5px;
    color: white;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
} */


/* .goUp-btn:hover {
    background-color: #63247a98;
    color: #121212;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.goUp-btn:focus {
    background-color: #63247a98;
    color: #121212;
} */