/*
.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-wrap {
    flex: 1;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style:none;
    background-color: rgba(215, 227, 250, 0.549);
    margin-top: 10%; 
    border-radius: 5px;  
}

.select{
    background-color: rgba(187, 191, 222, 0.684);
    font-size: 100%;
    border-radius: 5px;
    margin: 4px;
}

.select:hover {
    cursor: pointer;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}
*/

.home {
    position: absolute;
    width: 100%;
    background: #e3d6eb;
    text-align: center;
}

.divNB {
    top: 0;
    width: 100%;
}

.divNBFun {
    top: 10px;
    width: 100%;
}

.elementNB {
    height: 43px;
    border-color: #1a3550;
    background-color: transparent;
    font-size: medium;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
}

.elementNB:hover {
    background-color: #121212;
    color: #fff;
}

.container {
    display: flex;
    -webkit-box-pack: center;
    place-content: center;
    align-content: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.cardHome {
    margin: 0 5px 0 5px;
}

.welcome {
    border-radius: 4px;
    background-color: #1a1a1a;
    border: none;
    color: #fff;
    text-align: center;
    font-size: large;
    padding: 20px;
    margin-left: 5px;
    transition: all 0.5s;
    cursor: pointer;
    left: 37%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.welcome span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.welcome span:after {
    content: '\00ab';
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.welcome:hover span {
    padding-left: 25px;
}

.welcome:hover {
    background-color: #fff;
    color: #121212;
}

.welcome:hover span:after {
    opacity: 1;
    right: 0;
}