.not-found-msg-container {
    /* display: grid; */
    font-size: 50px;
    letter-spacing: -1px;
    color: #9e200f;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000;
    /* margin: 10px 0 24px; */
    text-align: center;
    line-height: 50px;
}

.not-found-msg {
    background-color: rgba(255, 255, 255, 0.514);
}