.supercontainer{
    background-color:#e3d6eb;
}


.errors {
    color: red;
    font-weight: bolder;
    font-size: 12px;
    left: 10em;
    position: relative
}

.btnCreate{
    border-radius: 10px;
}

.inputs{
    background-color: rgb(246, 225, 255);
    font-size: 95%;
    border-radius: 5px;
    border-color: rgb(52, 50, 173);
    color: #000;
    margin-left: 2em;
}